<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        @import url(../libr/bootstrap-4.5.0/css/bootstrap.min.css);
        @import url(../sign-up/student-sign_up-css.css);
        @import url(../libr/bootstrap-formHelper-2.3.0/css/bootstrap-formhelpers.css);
    </style>
    <script src="../libr/jQuery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="../libr/popper-2.4.3/popper.min.js"></script>
    <script src="../libr/bootstrap-4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="../libr/bootstrap-formHelper-2.3.0/js/bootstrap-formhelpers.js"></script>
    <script src="../libr/angularJS-1.8.0/angular.min.js"></script>
    <script src="../sign-up/student-sign_up-js.js"></script>
    <title>Sign Up in Chatting`by Louay Amr`</title>
</head>
<body>
<header>
    <div class="jumbotron mb-0 h2 text-center">
        Course Management System
    </div>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #3e3c4e;">
        <p class="text-light text-capitalize h3">Sign Up</p>
    </nav>
</header>

<main ng-app="registerApp">
    <div class="mainBody">

        <div id="topAlert">
            <div class="container">
                <div class="alert alert-success" id="myAlert" ng-model="registerForm.alert">
                    <strong>Success!</strong> You are sign up successfully, now go and <a href="../signin/login.jsp">login.</a>
                    <button type="button" class="close alert-dismissible" data-dismiss="alert">&times;</button>
                </div>
            </div>


            <div class="container">
                <div class="alert alert-danger" id="myAlert">
                    <strong>Error!</strong> Its seem something wrong, try again.
                    <button type="button" class="close alert-dismissible" data-dismiss="alert">&times;</button>
                </div>
            </div>
        </div>

        <div class="formSignUp">

            <div class="internalForm" ng-controller="registerCtrl">

                <form ng-submit="registerSubmit()" name="signUpForm" onsubmit="return signUpValidateForm()">

                    <div class="formHead mb-0 pt-4">Sign Up to chatting system</div>
                    <small class="form-text text-muted text-left mb-3">* field required</small>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail">*Email</label>
                            <input class="form-control w-75" type="email" ng-model="registerForm.email" ng-maxlength="200"
                                   id="inputEmail" placeholder="Type your email" required="true"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">*Password</label>
                            <input class="form-control w-75" type="password" ng-model="registerForm.password" ng-maxlength="100"
                                   id="inputPassword" placeholder="Type your password"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="reInputPassword">*re-Password</label>
                            <input class="form-control w-75" type="password" ng-model="registerForm.rePassword" ng-maxlength="100"
                                   id="reInputPassword" placeholder="re-type your password"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputForename">*Forename</label>
                            <input class="form-control w-75" type="text" ng-model="registerForm.forename" ng-maxlength="50"
                                   id="inputForename" placeholder="Type your first name"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputSurname">*Surname</label>
                            <input class="form-control w-75" type="text" ng-model="registerForm.surname" ng-maxlength="50"
                                   id="inputSurname" placeholder="Type your last name"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputGender">*Gender</label>
                            <br>
                            <select class="custom-select w-75" ng-model="registerForm.gender" id="inputGender">
                                <option selected disabled value="">Choose...</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputBirthday">*Birthday</label>
                            <br>
                            <input class="form-control w-75" type="date" ng-model="registerForm.birthday" id="inputBirthday"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPhone">*Phone</label>
                            <input class="form-control w-75" type="text" ng-model="registerForm.phone" ng-maxlength="15"
                                   id="inputPhone" placeholder="Type your phone number"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputCountry">*Country</label>
                            <br>
                            <select class="custom-select w-75" ng-options="x for x in insertCountry"
                                    name="country" ng-model="registerForm.country" id="inputCountry" ></select>
                            {{registerForm.country}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">State</label>
                            <br>
                            <select class="custom-select bfh-states w-75"
                                    ng-model="state" name="registerForm.state" id="inputState">
                                <option ng-repeat="s in insertState">{{s.}}</option>
                            </select>

                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputAddress">Address</label>
                            <input class="form-control w-75" type="text" ng-model="registerForm.address" ng-maxlength="200"
                                   id="inputAddress" placeholder="Type your Address"/>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6"></div>
                        <div class="form-group col-md-6">
                            <input class="btn btn-success w-50 p-2" type="submit" value="Sign Up " style="margin: 5% 20% 3%" />
                        </div>
                    </div>

                </form>

                <pre>form = {{registerForm | json}}</pre>

            </div>
        </div>
    </div>

</main>

<footer>
    <nav class="navbar navbar-dark position-relative mb-0" style="background-color: #d3c7cd; height: 9em; width: 100%">
        <p>Louay Amr © 2020</p>
    </nav>
</footer>

</body>
</html>
