<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <style type="text/css">
        @import url(/static/lib/bootstrap-4.5.1/css/bootstrap.min.css);
    </style>
    <script type="application/javascript" src="/static/lib/jQuery-3.5.1/jquery-3.5.1.min.js"></script>
    <script type="application/javascript" src="/static/lib/popper-1.16.1/popper.min.js"></script>
    <script type="application/javascript" src="/static/lib/bootstrap-4.5.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/static/lib/angularJS-1.8.0/angular.min.js"></script>
    <script type="application/javascript" src="/static/lib/angularJS-1.8.0/angular-messages.min.js"></script>
    <script type="application/javascript" src="/static/lib/angularJS-1.8.0/angular-sanitize.min.js"></script>
    <script type="application/javascript" src="/static/js/app.js"></script>
    <script type="application/javascript" src="/static/js/control/review_course-student.js"></script>
    <script type="application/javascript" src="/static/js/control/student_home-controller.js"></script>
    <script type="application/javascript" src="/static/js/control/edit_user_details_modal-controller.js"></script>
    <script type="application/javascript" src="/static/js/control/edit_password-controller.js"></script>
    <script type="application/javascript" src="/static/js/control/logout-controller.js"></script>
    <script type="application/javascript" src="/static/js/control/search_nav-controller.js"></script>
    <script type="application/javascript" src="/static/js/service/get_student_home_info.js"></script>
    <script type="application/javascript" src="/static/js/service/country_state.js"></script>
    <script type="application/javascript" src="/static/js/service/update_user_details.js"></script>
    <script type="application/javascript" src="/static/js/service/edit_student_interests.js"></script>
    <script type="application/javascript" src="/static/js/service/edit_password.js"></script>
    <script type="application/javascript" src="/static/js/service/get_info_review_course.js"></script>
    <script type="application/javascript" src="/static/js/service/create_course_member.js"></script>
    <script type="application/javascript" src="/static/js/service/get_session_id.js"></script>
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
    <title>Review Course `by Louay Amr`</title>
<body ng-app="app" ng-controller="ReviewCourseStudentController">
<div ng-bind-html="errorRender"></div>
<header>
    <ng-include src="'/static/html/page-include/student-navbar.html'"></ng-include>
</header>
<main class="container-fluid">
    <div class="container" id="pageAlert" ng-model="pageErrorMessage">
        <div ng-show="isPageError">
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>Error!</strong> {{pageErrorMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container" id="successAlert" ng-model="pageSuccessMessage">
        <div ng-show="isSuccess">
            <div class="alert alert-success alert-dismissible fade show">
                <strong>Success!</strong> {{pageSuccessMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card bg-light mt-3 w-75">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-md-1">
                        <div class="col col-md-3 align-self-center">
                            <img src="data:image/*;base64,{{courseInfo.coursePictureBase64}}"
                                 class="rounded-circle" width="164" height="164"/>
                        </div>
                        <div class="col col-md-4 align-self-center row justify-content-start font-weight-bold">
                            {{courseInfo.courseName}}
                        </div>
                        <div class="col col-md-1 align-self-center">
                            <div ng-if="isStudentJoinToThisCourse === false">
                                <div ng-if="courseInfo.endDate >= currentTime">
                                    <input type="button" class="btn btn-warning text-white font-weight-bold"
                                           value="+ Join" ng-click="addToCourse()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-light mt-3 w-75">
            <div class="card-header">
                <div class="card-title font-weight-bold row align-self-center justify-content-center"
                     style="font-size: larger;">
                    Information
                </div>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        Start Date: {{courseInfo.startDate}}
                    </li>
                    <li>
                        End Date: {{courseInfo.endDate}}
                    </li>
                    <li>
                        Instructor :
                        <p class="font-weight-bold">
                            <img src="data:image/*;base64,{{instructorInfo.accountPicture.profilePictureBase64}}"
                                 class="figure-img" width="164" height="164"/>
                            {{instructorInfo.nickname}} {{instructorInfo.forename}} {{instructorInfo.surname}}
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="card bg-light mt-3 w-75">
            <div class="card-header">
                <div class="card-title font-weight-bold row align-self-center justify-content-center"
                     style="font-size: larger;">
                    Members
                </div>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-md-3">
                    <div ng-model="memberData" ng-repeat="courseMemberList in courseMemberList">
                        <div class="col mb-3">
                            <div class="card h-100">
                                <img src="data:image/*;base64,{{courseMemberList.student.accountPicture.profilePictureBase64}}"
                                     class="card-img-top"
                                     alt="member image">
                                <div class="card-body">
                                    <div class="card-text row justify-content-center">
                                        {{courseMemberList.student.forename}} {{courseMemberList.student.surname}}
                                    </div>
                                    <div class="card-text">
                                        Join data : {{courseMemberList.registerDate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<footer class="w-100" style="margin-top: 26em;">
    <nav class="navbar" style="background-color: #d3c7cd; height: 16em;">
        <p>Louay Amr © 2020</p>
    </nav>
</footer>
<ng-include src="'/static/html/page-include/student-modal.html'"></ng-include>
</body>
</html>
