<div class="modal fade" id="passwordModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <form name="editPasswordForm" method="post" novalidate>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="form-group col col-md-8">
                                <label class="font-weight-bold" for="oldPasswordModal">
                                    Old Password:
                                </label>
                                <input id="oldPasswordModal" name="passwordOld" type="password" ng-model="editPassword.passwordOld"
                                       class="form-control" placeholder="type old password"
                                       ng-minlength="8" ng-maxlength="100" required ng-class="{'is-invalid': submitted &&
                                           (editPasswordForm.passwordOld.$error.required ||
                                           editPasswordForm.passwordOld.$invalid),
                                           'is-valid': editPasswordForm.passwordOld.$valid}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col col-md-8">
                                <label class="font-weight-bold mt-3" for="newPasswordModal">
                                    New Password:
                                </label>
                                <input id="newPasswordModal" name="passwordNew" type="password" ng-model="editPassword.passwordNew"
                                       class="form-control mt-2" placeholder="type old password"
                                       ng-minlength="8" ng-maxlength="100" ng-class="{'is-invalid': submitted &&
                                           (editPasswordForm.passwordNew.$error.required ||
                                           editPasswordForm.passwordNew.$invalid),
                                           'is-valid': editPasswordForm.passwordNew.$valid}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col col-md-8">
                                <label class="font-weight-bold mt-3" for="re-newPasswordModal">
                                    re-New Password:
                                </label>
                                <input id="re-newPasswordModal" name="passwordReNew" type="password" ng-model="editPassword.passwordReNew"
                                       class="form-control mt-2" placeholder="re-type old password"
                                       ng-minlength="8" ng-maxlength="100" ng-class="{'is-invalid': submitted &&
                                           (editPasswordForm.passwordReNew.$error.required ||
                                           editPasswordForm.passwordReNew.$invalid),
                                           'is-valid': editPasswordForm.passwordReNew.$valid}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>