<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="UserRoleController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <style type="text/css">
        @import url(/static/lib/bootstrap-4.5.1/css/bootstrap.min.css);
    </style>
    <script src="/static/lib/jQuery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="/static/lib/popper-1.16.1/popper.min.js"></script>
    <script src="/static/lib/bootstrap-4.5.1/js/bootstrap.min.js"></script>
    <script src="/static/lib/angularJS-1.8.0/angular.min.js"></script>
    <script src="/static/lib/angularJS-1.8.0/angular-messages.min.js"></script>
    <script src="/static/lib/angularJS-1.8.0/angular-sanitize.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/control/user_role-controller.js"></script>
    <div ng-switch="userRole">
        <div ng-switch-when="INSTRUCTOR">
            <script src="/static/js/control/instructor_home-controller.js"></script>
            <script src="/static/js/service/get_instructor_info.js"></script>
            <script src="/static/js/service/edit_instructor_details.js"></script>

            <script src="/static/js/control/instructor_home_course-controller.js"></script>

            <script src="/static/js/control/instructor_notification-controller.js"></script>

            <script src="/static/js/control/add_course-controller.js"></script>
            <title>Instructor Home `by Louay Amr`</title>
        </div>
        <div ng-switch-when="STUDENT">
            <script src="/static/js/control/student_home-controller.js"></script>
            <script src="/static/js/service/get_student_home_info.js"></script>
            <script src="/static/js/service/edit_student_details.js"></script>

            <script src="/static/js/control/student_home_course-controller.js"></script>

            <script src="/static/js/control/student_notification-controller.js"></script>
            <title>Student Home `by Louay Amr`</title>
        </div>
    </div>
    <script src="/static/js/control/edit_user_details_modal-controller.js"></script>
    <script src="/static/js/service/country_state.js"></script>
    <script src="/static/js/service/update_user_details.js"></script>

    <script src="/static/js/control/edit_password-controller.js"></script>
    <script src="/static/js/service/edit_password.js"></script>

    <script src="/static/js/control/search_nav-controller.js"></script>

    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
<div ng-switch="userRole">
    <div ng-switch-when="INSTRUCTOR">
        <div ng-controller="InstructorHomeController">
            <div ng-bind-html="errorRender"></div>
            <header>
                <ng-include src="'/static/html/page-include/user-navbar.html'"></ng-include>
            </header>
            <main class="container-fluid">
                <div class="container" id="pageAlertInstructor" ng-model="pageErrorMessage">
                    <div ng-show="isPageError">
                        <div class="alert alert-danger alert-dismissible fade show">
                            <strong>Error!</strong> {{pageErrorMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1">
                    <aside class="col col-md-2 mt-3 justify-content-center pb-4">
                        <div class="form-row">
                            <img src="data:image/*;base64,{{picture}}"
                                 class="rounded-circle" width="134" height="134" alt="My Picture"/>
                            <p class="mt-5 ml-1 font-weight-bold h5">
                                {{nickname}} {{forename}} {{surname}}
                            </p>
                        </div>
                        <p class="text-muted font-weight-bold">{{headline}}</p>
                        <p class="font-weight-bold">Specialty: {{specialty}}</p>
                        <p class="font-weight-bold">Portfolio: {{portfolio}}</p>
                        <button class="btn btn-outline-secondary btn-sm w-100 dropdownProfile" data-toggle="modal"
                                data-target="#profileModal">
                            Edit Profile
                        </button>
                    </aside>
                    <article class="col col-md-10">
                        <div class="container-fluid mt-4">
                            <div class="mb-3">
                                <button class="btn btn-warning w-100" type="button" data-toggle="collapse"
                                        data-target="#createCourseForm" aria-expanded="false"
                                        aria-controls="createCourseForm">
                                    + Create New Course
                                </button>
                                <div class="collapse" id="createCourseForm" ng-controller="AddCourseController">
                                    <div ng-bind-html="errorRender"></div>
                                    <div class="card card-body bg-light">
                                        <div class="container" id="addCourseSuccessAlert"
                                             ng-model="addCourseSuccessMessage"
                                             ng-show="isAddCourseSuccess" role="alert">
                                            <div class="alert alert-success alert-dismissible fade show">
                                                <strong>Success!</strong>
                                                {{addCourseSuccessMessage}}
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="container" id="addCourseErrorAlert" ng-model="addCourseErrorMessage"
                                             ng-hide="addCourseForm.$valid" role="alert">
                                            <div ng-messages="addCourseForm.$error || addCourseForm.$invalid"
                                                 ng-show="submitted && (addCourseForm.$invalid || addCourseForm.$error)">
                                                <div class="alert alert-danger alert-dismissible fade show">
                                                    <strong>Error!</strong>
                                                    <span ng-show="addCourseForm.courseName.$error.required">
                                                        course name Required!
                                                    </span>
                                                    <span ng-show="addCourseForm.courseName.$invalid">
                                                        course name Invalid!
                                                    </span>
                                                    <span ng-show="addCourseForm.endDate.$error.required">
                                                        end date Required!
                                                    </span>
                                                    <span ng-show="addCourseForm.endDate.$invalid">
                                                        end date Invalid!
                                                    </span>
                                                    <span ng-show="addCourseForm.endTime.$error.required">
                                                        end time Required!
                                                    </span>
                                                    <span ng-show="addCourseForm.endTime.$invalid">
                                                        end time Invalid!
                                                    </span>
                                                    {{addCourseErrorMessage}}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <form ng-submit="addCourse(course.endDate, course.endTime)"
                                              name="addCourseForm" method="post" novalidate>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="courseNameInput">Course Name: </label>
                                                        <input class="form-control w-100" type="text"
                                                               ng-model="course.name"
                                                               ng-minlength="1" ng-maxlength="150" name="courseName"
                                                               ng-class="{'is-invalid': submitted &&
                                                        (addCourseForm.courseName.$error.required || addCourseForm.courseName.$invalid),
                                                        'is-valid': addCourseForm.courseName.$valid}"
                                                               id="courseNameInput" placeholder="Type course name"
                                                               required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="inputEndDate">End Date:</label>
                                                        <br>
                                                        <input class="form-control w-100" type="date"
                                                               ng-model="course.endDate"
                                                               id="inputEndDate" name="endDate" required
                                                               ng-class="{'is-invalid': submitted &&
                                                                    (addCourseForm.endDate.$error.required ||addCourseForm.endDate.$invalid),
                                                                    'is-valid': addCourseForm.endDate.$valid}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="inputEndTime">End Time:</label>
                                                        <br>
                                                        <input class="form-control w-100" type="time"
                                                               ng-model="course.endTime"
                                                               id="inputEndTime" name="endTime" required
                                                               ng-class="{'is-invalid': submitted &&
                                                                    (addCourseForm.endTime.$error.required ||addCourseForm.endTime.$invalid),
                                                                    'is-valid': addCourseForm.endTime.$valid}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <input class="btn btn-success w-50 p-2" type="submit" value="Create"
                                                       ng-disabled=""/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3" ng-controller="InstructorHomeCourseController">
                                <div ng-model="courseData" ng-repeat="courseData in courseData">
                                    <div class="col mb-3">
                                        <div class="card h-100">
                                            <img src="data:image/*;base64,{{courseData.coursePictureBase64}}"
                                                 class="card-img-top"
                                                 alt="course image">
                                            <div class="card-body">
                                                <div class="card-text">
                                                    {{courseData.courseName}}
                                                </div>
                                            </div>
                                            <a href="{{joinToCourseUrl}}/{{courseData.courseID}}">
                                                <button type="button" class="btn btn-outline-primary col col-md-12">
                                                    Join to Course
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </main>
            <footer style="bottom: 0; width: 100%;">
                <nav class="navbar navbar-dark position-relative mt-0"
                     style="background-color: #d3c7cd; height: 20em; width: 100%">
                    <p>Louay Amr © 2020</p>
                </nav>
            </footer>
            <ng-include src="'/static/html/page-include/instructor-modal.html'"></ng-include>
        </div>
    </div>
    <div ng-switch-when="STUDENT">
        <div ng-controller="StudentHomeController">

            <div ng-bind-html="errorRender"></div>
            <header>
                <ng-include src="'/static/html/page-include/user-navbar.html'"></ng-include>
            </header>
            <main class="container-fluid">
                <div class="container" id="pageAlertStudent" ng-model="pageErrorMessage">
                    <div ng-show="isPageError">
                        <div class="alert alert-danger alert-dismissible fade show">
                            <strong>Error!</strong> {{pageErrorMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1">
                    <aside class="col col-md-2 mt-3 justify-content-center pb-4">
                        <div class="form-row">
                            <img src="data:image/*;base64,{{picture}}"
                                 class="rounded-circle" width="134" height="134" alt="My Picture"/>
                            <p class="mt-5 ml-1 font-weight-bold h5">
                                {{forename}} {{surname}}
                            </p>
                        </div>
                        <p class="text-muted font-weight-bold">{{headline}}</p>
                        <p class="font-weight-bold">Interest: {{interests}}</p>
                        <button class="btn btn-outline-secondary btn-sm w-100 dropdownProfile" data-toggle="modal"
                                data-target="#profileModal">
                            Edit Profile
                        </button>
                    </aside>
                    <article class="col col-md-10" ng-controller="StudentHomeCourseController">
                        <div class="container-fluid mt-4">
                            <div class="row row-cols-1 row-cols-md-3">
                                <div ng-model="courseData" ng-repeat="courseData in courseData">
                                    <div class="col mb-3">
                                        <div class="card h-100">
                                            <img src="data:image/*;base64,{{courseData.coursePictureBase64}}"
                                                 class="card-img-top"
                                                 alt="course image">
                                            <div class="card-body">
                                                <div class="card-text">
                                                    {{courseData.courseName}}
                                                </div>
                                            </div>
                                            <a href="{{joinToCourseUrl}}{{courseData.courseID}}">
                                                <button type="button" class="btn btn-outline-primary col col-md-12">
                                                    Join to Course
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </main>
            <footer style="bottom: 0; width: 100%;">
                <nav class="navbar navbar-dark position-relative mt-0"
                     style="background-color: #d3c7cd; height: 20em; width: 100%">
                    <p>Louay Amr © 2020</p>
                </nav>
            </footer>
            <ng-include src="'/static/html/page-include/student-modal.html'"></ng-include>
        </div>
    </div>
</div>
</body>
</html>

