.mainBody {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background: url(../images/background_geometry.png) no-repeat fixed;
    padding-top: 1%;
    padding-bottom: 1%;
}

.formSignUp {
    width: 70%;
    height: auto;
    margin: 6% 14% 5%;
    background-color: white;
    border-radius: 1em 1em;

}

.internalForm {
    margin-left: 8%;
}

.formHead {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 900;
}
