<div class="modal fade" id="passwordModal" ng-controller="EditPasswordController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="container" id="editPasswordSuccessAlert" ng-model="passwordSuccessMessage"
                 ng-show="isEditPasswordSuccess" role="alert">
                <div class="alert alert-success alert-dismissible fade show">
                    <strong>Success!</strong>
                    {{passwordSuccessMessage}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="container" id="editPasswordErrorAlert" ng-model="passwordErrorMessage"
                 ng-hide="editPasswordForm.$valid" role="alert">
                <div ng-messages="editPasswordForm.$error || editPasswordForm.$invalid"
                     ng-show="submitted && (editPasswordForm.$invalid || editPasswordForm.$error)">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <strong>Error!</strong>
                        <span ng-show="editPasswordForm.passwordOld.$error.required">
                                            old password Required!
                                        </span>
                        <span ng-show="editPasswordForm.passwordOld.$invalid">
                                             old password Invalid!
                                        </span>
                        <span ng-show="editPasswordForm.passwordNew.$error.required">
                                            new password Required!
                                        </span>
                        <span ng-show="editPasswordForm.passwordNew.$invalid">
                                             new password Invalid!
                                        </span>
                        <span ng-show="editPasswordForm.passwordReNew.$error.required">
                                            re-new password Required!
                                        </span>
                        <span ng-show="editPasswordForm.passwordReNew.$invalid">
                                             re-new password Invalid!
                                        </span>
                        {{passwordErrorMessage}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <form ng-submit="updatePassword()" name="editPasswordForm" method="post" novalidate>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-row">
                            <div class="form-group col col-md-8">
                                <label class="font-weight-bold" for="oldPasswordModal">
                                    Old Password:
                                </label>
                                <input id="oldPasswordModal" name="passwordOld" type="password"
                                       class="form-control" placeholder="type old password"
                                       ng-minlength="8" ng-maxlength="100" ng-class="{'is-invalid': submitted &&
                                           (editPasswordForm.passwordOld.$error.required ||
                                           editPasswordForm.passwordOld.$invalid),
                                           'is-valid': editPasswordForm.passwordOld.$valid}" required
                                       ng-model="editPassword.passwordOld">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col col-md-8">
                                <label class="font-weight-bold mt-3" for="newPasswordModal">
                                    New Password:
                                </label>
                                <input id="newPasswordModal" name="passwordNew" type="password"
                                       class="form-control mt-2" placeholder="type old password"
                                       ng-minlength="8" ng-maxlength="100" ng-class="{'is-invalid': submitted &&
                                           (editPasswordForm.passwordNew.$error.required ||
                                           editPasswordForm.passwordNew.$invalid),
                                           'is-valid': editPasswordForm.passwordNew.$valid}" required
                                       ng-model="editPassword.passwordNew">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col col-md-8">
                                <label class="font-weight-bold mt-3" for="re-newPasswordModal">
                                    re-New Password:
                                </label>
                                <input id="re-newPasswordModal" name="passwordReNew" type="password"
                                       class="form-control mt-2" placeholder="re-type old password"
                                       ng-minlength="8" ng-maxlength="100" ng-class="{'is-invalid': submitted &&
                                           (editPasswordForm.passwordReNew.$error.required ||
                                           editPasswordForm.passwordReNew.$invalid),
                                           'is-valid': editPasswordForm.passwordReNew.$valid}" required
                                       ng-model="editPassword.passwordReNew">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>