<nav ng-controller="InstructorHomeController">
    <div id="viewProfileModal">
        <div class="modal fade" id="profileModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Profile</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="container-fluid">
                            <div class="row row-cols-1">
                                <div class="col col-md-7">
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="username" class="font-weight-bold">
                                                Email:
                                            </label>
                                            <input class="form-control" id="username" name="instructorEmail"
                                                   type="text" value="{{email}}" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="accountPermission" class="font-weight-bold">
                                                Account Permission:
                                            </label>
                                            <input class="form-control" id="accountPermission"
                                                   name="accountRole" type="text"
                                                   value="{{userRole}}" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="dateCreate" class="font-weight-bold">
                                                Date Create:
                                            </label>
                                            <input class="form-control" id="dateCreate" name="dateCreate"
                                                   type="text" value="{{joinDate}}" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="password" class="font-weight-bold">
                                                Password:
                                                <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                        data-target="#passwordModal">
                                                    <img src="/static/images/edit-black-48dp.svg"
                                                         width="16" height="16" alt="edit">
                                                </button>
                                            </label>
                                            <input class="form-control" id="password" name="password"
                                                   type="password" value="{{password}}" readonly disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="align-self-center col col-md-5">
                                    <div class="row justify-content-center ">
                                        <img src="data:image/*;base64,{{picture}}" class="rounded-circle"
                                             width="256" height="256" alt="My Picture">
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#ImageModal">
                                            <img src="/static/images/add_photo_alternate-black-48dp.svg"
                                                 width="28" height="28" alt="add image">
                                        </button>
                                    </div>
                                    <div class="small text-muted">{{pictureUploadDate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="forename" class="font-weight-bold">
                                        Forename:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#forenameModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="forename" value="{{forename}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="telephone" class="font-weight-bold">
                                        Phone:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#telephoneModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="telephone" value="{{phone}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="lname" class="font-weight-bold">
                                        Surname:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#surnameModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="lname" value="{{surname}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="country" class="font-weight-bold">
                                        Country:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#addressModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="country" value="{{country}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="gender" class="font-weight-bold">
                                        Gender:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#genderModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="gender" value="{{gender}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="state" class="font-weight-bold">
                                        State:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#addressModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="state" value="{{state}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="birthday" class="font-weight-bold">
                                        BirthDay:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#birthdayModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="birthday" value="{{birthday}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="address" class="font-weight-bold">
                                        Address:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#addressModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="address" value="{{address}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="age" class="font-weight-bold">
                                        Age:
                                    </label>
                                    <input class="form-control" id="age" value="{{age}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="lLogin" class="font-weight-bold">
                                        Last Login:
                                    </label>
                                    <input class="form-control" id="lLogin" value="{{lastSignIn}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="head_line" class="font-weight-bold">
                                        Headline:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#headlineModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="head_line" value="{{headline}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="specialty" class="font-weight-bold">
                                        Specialty:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#specialtyModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="specialty" value="{{specialty}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="nickname" class="font-weight-bold">
                                        Nickname:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#nicknameModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="nickname" value="{{nickname}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="portfolio" class="font-weight-bold">
                                        Portfolio:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#portfolioModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="portfolio" value="{{portfolio}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="profileVisibility" class="font-weight-bold">
                                        profile Visibility:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#profileVisibilityModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="profileVisibility"
                                           value="{{profileVisibility}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">Close
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <ng-include src="'/static/html/page-include/edit_password-modal.html'"></ng-include>
        <ng-include src="'/static/html/page-include/edit_user_details-modal.html'"></ng-include>

        <!-- headline Modal -->
        <div class="modal fade" id="headlineModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Headline</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="container" id="editHeadlineSuccessAlert" ng-model="headlineSuccessMessage"
                         ng-show="isEditHeadlineSuccess" role="alert">
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong>
                            {{headlineSuccessMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="container" id="editHeadlineErrorAlert" ng-model="headlineErrorMessage"
                         ng-hide="editHeadlineForm.$valid" role="alert">
                        <div ng-messages="editHeadlineForm.$error || editHeadlineForm.$invalid"
                             ng-show="submitted && (editHeadlineForm.$invalid || editHeadlineForm.$error)">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>
                                <span ng-show="editHeadlineForm.headline.$error.required">
                                            headline Required!
                                        </span>
                                <span ng-show="editHeadlineForm.headline.$invalid">
                                            headline Invalid!
                                        </span>
                                {{headlineErrorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="updateHeadline()" name="editHeadlineForm" method="post" novalidate>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <label class="font-weight-bold" for="inputHeadline">
                                            Headline:
                                        </label>
                                        <input id="inputHeadline" name="headline" type="text"
                                               class="form-control"
                                               placeholder="type new headline" ng-minlength="2"
                                               ng-maxlength="300"
                                               required
                                               ng-class="{'is-invalid': submitted &&
                                           (editHeadlineForm.headline.$error.required ||
                                           editHeadlineForm.headline.$invalid),
                                           'is-valid': editHeadlineForm.headline.$valid}"
                                               ng-model="editHeadline">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- specialty Modal -->
        <div class="modal fade" id="specialtyModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Specialty</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="container" id="editSpecialtySuccessAlert" ng-model="specialtySuccessMessage"
                         ng-show="isEditSpecialtySuccess" role="alert">
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong>
                            {{specialtySuccessMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="container" id="editInterestsErrorAlert" ng-model="specialtyErrorMessage"
                         ng-hide="editSpecialtyForm.$valid" role="alert">
                        <div ng-messages="editSpecialtyForm.$error || editSpecialtyForm.$invalid"
                             ng-show="submitted && (editSpecialtyForm.$invalid || editSpecialtyForm.$error)">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>
                                <span ng-show="editSpecialtyForm.specialty.$error.required">
                                    specialty Required!
                                </span>
                                <span ng-show="editSpecialtyForm.specialty.$invalid">
                                    specialty Invalid!
                                </span>
                                {{specialtyErrorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="updateSpecialty()" name="editSpecialtyForm" method="post" novalidate>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <label class="font-weight-bold" for="inputSpecialty">
                                            specialty:
                                        </label>
                                        <input id="inputSpecialty" name="specialty" type="text"
                                               class="form-control"
                                               placeholder="type new specialty" ng-minlength="2"
                                               ng-maxlength="300"
                                               required
                                               ng-class="{'is-invalid': submitted &&
                                                          (editSpecialtyForm.specialty.$error.required ||
                                                          editSpecialtyForm.specialty.$invalid),
                                                          'is-valid': editSpecialtyForm.specialty.$valid}"
                                               ng-model="editSpecialty">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- nickname Modal -->
        <div class="modal fade" id="nicknameModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Nickname</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="container" id="editNicknameSuccessAlert" ng-model="nicknameSuccessMessage"
                         ng-show="isEditNicknameSuccess" role="alert">
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong>
                            {{nicknameSuccessMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="container" id="editNicknameErrorAlert" ng-model="nicknameErrorMessage"
                         ng-hide="editNicknameForm.$valid" role="alert">
                        <div ng-messages="editNicknameForm.$error || editNicknameForm.$invalid"
                             ng-show="submitted && (editNicknameForm.$invalid || editNicknameForm.$error)">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>
                                <span ng-show="editNicknameForm.nickname.$error.required">
                                    nickname Required!
                                </span>
                                <span ng-show="editNicknameForm.nickname.$invalid">
                                    nickname Invalid!
                                </span>
                                {{nicknameErrorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="updateNickname()" name="editNicknameForm" method="post" novalidate>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <label class="font-weight-bold" for="inputNickname">
                                            nickname:
                                        </label>
                                        <input id="inputNickname" name="nickname" type="text"
                                               class="form-control"
                                               placeholder="type new nickname" ng-minlength="2"
                                               ng-maxlength="50"
                                               required
                                               ng-class="{'is-invalid': submitted &&
                                                          (editNicknameForm.nickname.$error.required ||
                                                          editNicknameForm.nickname.$invalid),
                                                          'is-valid': editNicknameForm.nickname.$valid}"
                                               ng-model="editNickname">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- portfolio Modal -->
        <div class="modal fade" id="portfolioModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Portfolio</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="container" id="editportfolioSuccessAlert" ng-model="portfolioSuccessMessage"
                         ng-show="isEditPortfolioSuccess" role="alert">
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong>
                            {{portfolioSuccessMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="container" id="editPortfolioErrorAlert" ng-model="portfolioErrorMessage"
                         ng-hide="editPortfolioForm.$valid" role="alert">
                        <div ng-messages="editPortfolioForm.$error || editPortfolioForm.$invalid"
                             ng-show="submitted && (editPortfolioForm.$invalid || editPortfolioForm.$error)">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>
                                <span ng-show="editPortfolioForm.portfolio.$error.required">
                                    portfolio Required!
                                </span>
                                <span ng-show="editPortfolioForm.portfolio.$invalid">
                                    portfolio Invalid!
                                </span>
                                {{portfolioErrorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="updatePortfolio()" name="editPortfolioForm" method="post" novalidate>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <label class="font-weight-bold" for="inputPortfolio">
                                            portfolio:
                                        </label>
                                        <input id="inputPortfolio" name="portfolio" type="text"
                                               class="form-control"
                                               placeholder="type new portfolio" ng-minlength="2"
                                               ng-maxlength="300"
                                               required
                                               ng-class="{'is-invalid': submitted &&
                                                          (editPortfolioForm.portfolio.$error.required ||
                                                          editPortfolioForm.portfolio.$invalid),
                                                          'is-valid': editPortfolioForm.portfolio.$valid}"
                                               ng-model="editPortfolio">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- profileVisibility Modal -->
        <div class="modal fade" id="profileVisibilityModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Profile Visibility</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="container" id="editProfileVisibilitySuccessAlert"
                         ng-model="profileVisibilitySuccessMessage"
                         ng-show="isEditProfileVisibilitySuccess" role="alert">
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong>
                            {{profileVisibilitySuccessMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="container" id="editProfileVisibilityErrorAlert"
                         ng-model="profileVisibilityErrorMessage"
                         ng-hide="editProfileVisibilityForm.$valid" role="alert">
                        <div ng-messages="editProfileVisibilityForm.$error || editProfileVisibilityForm.$invalid"
                             ng-show="submitted && (editProfileVisibilityForm.$invalid || editProfileVisibilityForm.$error)">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>
                                <span ng-show="editProfileVisibilityForm.profileVisibility.$error.required">
                                    profile Visibility Required!
                                </span>
                                <span ng-show="editProfileVisibilityForm.profileVisibility.$invalid">
                                    profile Visibility Invalid!
                                </span>
                                {{profileVisibilityErrorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="updateProfileVisibility()" name="editProfileVisibilityForm"
                          method="post"
                          novalidate>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <label class="font-weight-bold" for="inputProfileVisibility">
                                            Profile Visibility:
                                        </label>
                                        <br>
                                        <select class="custom-select" id="inputProfileVisibility"
                                                name="profileVisibility" ng-model="editProfileVisibility"
                                                required
                                                ng-class="{'is-invalid': submitted &&
                                        (editProfileVisibilityForm.profileVisibility.$error.required ||
                                        editProfileVisibilityForm.profileVisibility.$invalid),
                                        'is-valid': editProfileVisibilityForm.profileVisibility.$valid}">
                                            <option selected disabled value="">Select visibility...</option>
                                            <option value="PUBLIC">PUBLIC</option>
                                            <option value="PRIVATE">PRIVATE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- image modal -->
        <div class="modal fade" id="ImageModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Picture</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <form action="{{updatePictureUrl}}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="container-fluid justify-content-center">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputFileModal"
                                                   name="file" required
                                                   accept="image/*">
                                            <label class="custom-file-label" for="inputFileModal">Choose
                                                file...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                // Add the following code if you want the name of the file appear on select
                                $(".custom-file-input").on("change", function () {
                                    let fileName = $(this).val().split("\\").pop();
                                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                });
                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</nav>