<nav ng-controller="StudentHomeController">
    <div id="viewProfileModal">
        <div class="modal fade" id="profileModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Profile</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="container-fluid">
                            <div class="row row-cols-1">
                                <div class="col col-md-7">
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="username" class="font-weight-bold">
                                                Email:
                                            </label>
                                            <input class="form-control" id="username" name="Studentemail"
                                                   type="text" value="{{email}}" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="accountPermission" class="font-weight-bold">
                                                Account Permission:
                                            </label>
                                            <input class="form-control" id="accountPermission"
                                                   name="accountRole" type="text"
                                                   value="{{userRole}}" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="dateCreate" class="font-weight-bold">
                                                Date Create:
                                            </label>
                                            <input class="form-control" id="dateCreate" name="dateCreate"
                                                   type="text" value="{{joinDate}}" readonly disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col col-md-10">
                                            <label for="password" class="font-weight-bold">
                                                Password:
                                                <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                        data-target="#passwordModal">
                                                    <img src="/static/images/edit-black-48dp.svg"
                                                         width="16" height="16" alt="edit">
                                                </button>
                                            </label>
                                            <input class="form-control" id="password" name="password"
                                                   type="password" value="{{password}}" readonly disabled>
                                        </div>
                                    </div>
                                </div>

                                <div class="align-self-center col col-md-5">
                                    <div class="row justify-content-center ">
                                        <img src="data:image/*;base64,{{picture}}" class="rounded-circle"
                                             width="256" height="256" alt="My Picture">
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#ImageModal">
                                            <img src="/static/images/add_photo_alternate-black-48dp.svg"
                                                 width="28" height="28" alt="add image">
                                        </button>
                                    </div>
                                    <div class="small text-muted">{{pictureUploadDate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="forename" class="font-weight-bold">
                                        Forename:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#forenameModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="forename" value="{{forename}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="telephone" class="font-weight-bold">
                                        Phone:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#telephoneModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="telephone" value="{{phone}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="lname" class="font-weight-bold">
                                        Surname:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#surnameModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="lname" value="{{surname}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="country" class="font-weight-bold">
                                        Country:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#addressModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="country" value="{{country}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="gender" class="font-weight-bold">
                                        Gender:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#genderModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="gender" value="{{gender}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="state" class="font-weight-bold">
                                        State:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#addressModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="state" value="{{state}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="birthday" class="font-weight-bold">
                                        BirthDay:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#birthdayModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="birthday" value="{{birthday}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="address" class="font-weight-bold">
                                        Address:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#addressModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="address" value="{{address}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="age" class="font-weight-bold">
                                        Age:
                                    </label>
                                    <input class="form-control" id="age" value="{{age}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="lLogin" class="font-weight-bold">
                                        Last Login:
                                    </label>
                                    <input class="form-control" id="lLogin" value="{{lastSignIn}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col col-md-6">
                                    <label for="head_line" class="font-weight-bold">
                                        Headline:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#headlineModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="head_line" value="{{headline}}"
                                           type="text" readonly disabled>
                                </div>
                                <div class="form-group col col-md-6">
                                    <label for="interest" class="font-weight-bold">
                                        Interests:
                                        <button class="btn" data-toggle="modal" data-dismiss="modal"
                                                data-target="#interestsModal">
                                            <img src="/static/images/edit-black-48dp.svg"
                                                 width="16" height="16" alt="edit">
                                        </button>
                                    </label>
                                    <input class="form-control" id="interest" value="{{interests}}"
                                           type="text" readonly disabled>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">Close
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <ng-include src="'/static/html/page-include/edit_password-modal.html'"></ng-include>
        <ng-include src="'/static/html/page-include/edit_user_details-modal.html'"></ng-include>

        <!-- interests Modal -->
        <div class="modal fade" id="interestsModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Interests</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="container" id="editInterestsSuccessAlert" ng-model="interestsSuccessMessage"
                         ng-show="isEditInterestsSuccess" role="alert">
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong>
                            {{interestsSuccessMessage}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="container" id="editInterestsErrorAlert" ng-model="interestsErrorMessage"
                         ng-hide="editInterestsForm.$valid" role="alert">
                        <div ng-messages="editInterestsForm.$error || editInterestsForm.$invalid"
                             ng-show="submitted && (editInterestsForm.$invalid || editInterestsForm.$error)">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>
                                <span ng-show="editInterestsForm.interests.$error.required">
                                    interests Required!
                                </span>
                                <span ng-show="editInterestsForm.interests.$invalid">
                                    interests Invalid!
                                </span>
                                {{interestsErrorMessage}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <form ng-submit="updateInterests()" name="editInterestsForm" method="post" novalidate>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <label class="font-weight-bold" for="inputInterests">
                                            Interests:
                                        </label>
                                        <input id="inputInterests" name="interests" type="text" class="form-control"
                                               placeholder="type new headline" ng-minlength="2" ng-maxlength="300"
                                               required
                                               ng-class="{'is-invalid': submitted &&
                                                          (editInterestsForm.interests.$error.required ||
                                                          editInterestsForm.interests.$invalid),
                                                          'is-valid': editInterestsForm.interests.$valid}"
                                               ng-model="editInterests">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- image modal -->
        <div class="modal fade" id="ImageModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Picture</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <form action="{{updatePictureUrl}}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="container-fluid justify-content-center">
                                <div class="form-row">
                                    <div class="form-group col col-md-9">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputFileModal" name="file"
                                                   accept="image/*" required>
                                            <label class="custom-file-label" for="inputFileModal">Choose file...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                // Add the following code if you want the name of the file appear on select
                                $(".custom-file-input").on("change", function () {
                                    let fileName = $(this).val().split("\\").pop();
                                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                                });
                            </script>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</nav>